# Powerset model

## Linear regression

In [1]:
# Load dataset
import statsmodels.api as sm
import pandas as pd
df = sm.datasets.get_rdataset("Guerry", "HistData").data
df = df[['Lottery', 'Literacy', 'Wealth', 'Region']].dropna()
df.head()

   Lottery  Literacy  Wealth Region
0       41        37      73      E
1       38        51      22      N
2       66        13      61      C
3       80        46      76      E
4       79        69      83      E

In [2]:
# Powerset
from scientistmetrics.model import powersetmodel

ols_res = powersetmodel(DTrain=df,target="Lottery")
ols_res[0]

[<statsmodels.regression.linear_model.RegressionResultsWrapper at 0x2613860c490>,
 <statsmodels.regression.linear_model.RegressionResultsWrapper at 0x2613860f790>,
 <statsmodels.regression.linear_model.RegressionResultsWrapper at 0x261385f74c0>,
 <statsmodels.regression.linear_model.RegressionResultsWrapper at 0x26114c4de40>,
 <statsmodels.regression.linear_model.RegressionResultsWrapper at 0x261385f76a0>,
 <statsmodels.regression.linear_model.RegressionResultsWrapper at 0x26138671a50>,
 <statsmodels.regression.linear_model.RegressionResultsWrapper at 0x26138672e90>]

In [3]:
ols_res[1]

,formula,expl. var. score,max error,mean abs. error,mean sq. error,mean sq. log error,median abs. error,r2 score,mean abs. percentage error
0,Lottery ~ Literacy,0.175695,38.503620,17.749728,451.089398,0.601373,15.749965,0.169409,1.391314
1,Lottery ~ Wealth,0.288922,39.676641,17.105969,386.874758,0.479047,14.974282,0.287648,1.047315
2,Lottery ~ Region,0.172453,40.500000,17.784376,451.503485,0.596087,16.166667,0.168647,1.386259
3,Lottery ~ Literacy + Wealth,0.338297,32.232160,16.810501,359.929569,0.460252,18.298454,0.337262,1.003389
4,Lottery ~ Literacy + Region,0.074931,46.334503,18.993523,503.105597,0.658972,17.854772,0.073632,1.523943
5,Lottery ~ Region + Wealth,0.415706,31.905235,15.494757,317.336884,0.393665,14.770256,0.415688,0.853146
6,Lottery ~ Region + Literacy + Wealth,0.357976,32.080593,16.652641,348.692199,0.451255,17.416516,0.357953,0.996961

## Logistic regression

In [10]:
# load dataset
spector_data = sm.datasets.spector.load_pandas()
spector_data = pd.concat([spector_data.endog.to_frame(),spector_data.exog],axis=1)
spector_data.head()

   GRADE   GPA  TUCE  PSI
0    0.0  2.66  20.0  0.0
1    0.0  2.89  22.0  0.0
2    0.0  3.28  24.0  0.0
3    0.0  2.92  12.0  0.0
4    1.0  4.00  21.0  0.0

In [ ]:
glm_res = powersetmodel(DTrain=spector_data,target="GRADE",model_type = "logistic")
glm_res[0]